@import '../../components/variables.css';

/*@import 'semantic-ui-css/semantic.min.css';*/

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.smallInput {
  align-items: flex-end;
  align-content: center;
}

input[type='text'] {
  color: red !important;
}

.toInput {
  z-index: 100 !important;
  top: 140px !important;
  text-align: center;
  margin-bottom: 0px;
  right: 100px;
  background: transparent;
  position: relative;
  max-width: 300px;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: var(--max-content-width);
  z-index: 0;
  position: absolute;
  background: transparent;
}

.xoButton {
  z-index: 200;
  top: -1000px;
}

/*pre {
  white-space: pre-wrap;
  font-size: 0.875rem;
}*/

/*img {
  max-width: 100%;
}*/
