@import '../../components/variables.css';

/* @import 'semantic-ui-css/semantic.min.css'; */

.root {
  padding-left: 20px;
  padding-right: 20px;
}

.smallInput {
  align-items: flex-end;
  align-content: center;
}

.container {
  margin: 0 auto;
  padding: 0 0 40px;
  max-width: 1000px;
  max-height: 500px;
  overflow: hidden;
}

.newsItem {
  margin: 0 0 2rem;
}

.newsTitle {
  font-size: 1.5rem;
}

.newsDesc {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-size: 1.125rem;
  }

  pre {
    white-space: pre-wrap;
    font-size: 0.875rem;
  }

  img {
    max-width: 100%;
  }
}
